/* Author: wwww.developers.today 
This is my second project on the html an css
19.03.2022 */



* {
    box-sizing: border-box;
}

/* Body part of site*/

body {
    box-sizing: border-box;
    background-color: #ffffff;
}

/*main container of site*/

.main {
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 15%;
   
}

/*FAQ form, accordion*/

.faq {
    background-color: #008055;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
.active, .faq:hover {
    background-color: #00b377;
  }
  
  .faq:after {
    content: '\2304';
    color: white;
    font-weight: bold;
    font-size: 25px;
    float: right;
    margin-left: 5px;
  }
  
.active:after {
    content: "\2303";
  }
  
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

h2 {
    font-family: "Trirong", serif;
}

/*Footer Style of web site*/

footer {
    width: 10%;
    margin: auto;
    
}

.links {
    text-align: center;
    font-size: 18px;
    
    
}

.links:hover {
    background-color: red;
}

